.banner-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 60px;
    margin-bottom: 60px; */
    padding-top: 60px;
    padding-bottom: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* font-family: smoothy-sans; */
    font-family: roboto-light;
    color: #2d3436;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem;
}


h3 {
    margin-bottom: 3px;
    /* color: #60a703; */
}

.title, .home-title {
    font-family: smoothy-sans;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: #60a703;
}

.home-title {
    justify-content: left;
}

.title::after {
    position: absolute;
    content: '';
    bottom: -5px;
    width: 200px;
    height: 1.5px;
    background-color: #60a703;
}

.home-title::after {
    position: absolute;
    content: '';
    bottom: 0px;
    /* left: 10%; */
    /* top: 30px; */
    width: 100%;
    height: 1.5px;
    background-color: #60a703;
}

/* pagination */
.pagination {
    padding: 10px 0 30px;
}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.pages li {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    cursor: pointer;
}

.pages li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pages li:first-child a {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pages a {
    /* position: relative; */
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: .3s ease-in-out;
    font-family: roboto-light;
    font-weight: 600;
}

.pages a:hover {
    background-color: #ced6e0;
}


/* messages-box */
.messages-box {
    position: fixed;
    top: 70px;
    right: 10px;

    padding: 20px 40px 30px;
    border-radius: 5px;

    font-family: roboto-bold;

    /* background-color: #49a010; */
    color: #fff;

    /* display: none; */
}

.messages-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.messages-header .fa-times {
    cursor: pointer;
}

