.left-banner {
    height: 350px;
    background-image: url('../images/various-fresh-vegetables-organic-food-healthy-rustic-background_44537-627.jpg');
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.right-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin: 10px;
}

.right-banner-top {
    height: 165px;
    background-image: url('../images/seafood-background-fresh-mussels-molluscs-oysters-octopus-razor-shells-shrimps-crab-crawfish-crayfish-seaweed-lemon-spices_80743-788.jpg');
}

.right-banner-bottom {
    height: 165px;
    background-image: url('../images/u1mgld89kri3ytgjbz2gejn81lady8ci0vooy2ek37jxksslr3sn1zyn9puwv4uj-.jpg');
}

/* choose-us */

.choose-us h2 span {
    color: #fff;
}

.choose-us h2 span::after {
    background-color: #fff;
}

.box-service {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 30px 10px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.box-icon {
    position: absolute;
    top: -50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid transparent;
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 20%);
}

.box-icon i {
    font-size: 50px;
    color: #009432;
}

.box-infor {
    top: 10px;
    height: 130px;
    width: 100%;
    padding: 60px 30px 50px;
    border: 2px solid transparent;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    color: #222f3e;
}

.banner-img .box-banner p {
    font-size: 30px;
    color: #ecf0f1;
    font-family: smoothy-sans;
}

.box-banner {
    width: 270px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: ease-in-out .5s;
}

.box-banner a {
    padding: 10px 20px;
    color: #ecf0f1;
    border: 1px solid transparent;
    transition: ease-in-out .5s;
}

.box-banner:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.box-banner:hover a {
    border-color: #ecf0f1;
}

.box-1 {
 background-image: url('../images/bg_1.jpg');
}

.box-2 {
 background-image: url('../images/bg_2.jpg');
}

.box-3 {
 background-image: url('../images/bg_1.jpg');
}

.box {
    margin-top: 10px;
}

.choose-us {
    /* background-image: url('../images/2847407.jpg'); */
    /* background-image: url('../images/pile-fresh-fruits.jpg'); */
    /* background-image: url('../images/top-view-assortment-veggies-line.jpg'); */
    background-image: url('../images/top-view-salad-with-onions-copy-space.jpg');

    /* background-color: #009432; */
    position: relative;
}

.choose-us::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fff;
}

/* about-us */


.about-us-banner {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.about-us-banner img {
    width: 100%;
}

.title-about-us p:first-child {
    font-weight: 700;
    font-size: 50px;
    color: #60a703;
}

.title-about-us p:last-child {
    font-weight: 700;
    font-size: 28px;
    color: #ff6517;
}

.about-us-info {
    /* height: 100%; */
    /* background: rgba(255, 255, 255, 0.1); */
    color: #222f3e;
    padding: 15px;
}

.about-us {
    background-image: url('../images/berries_bananas_fruit_appetite_74312_3840x2400.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-us .container {
    /* padding: 20px; */
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 12px 15px 0 rgb(0 0 0 / 30%), 0 17px 50px 0 rgb(0 0 0 / 20%);
}

.detail-about-us p {
    margin: 15px 0;
}

/* news */

.new-items {
    margin: 20px 15px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border: 1px solid #95a5a6;
    border-radius: 10px;
    overflow: hidden;
}

.new-banner {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.new-banner img {
    width: 200%;
    /* height: 200%; */
    /* object-fit: cover; */
    /* height: 100%; */
}

.new-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-detail {
    height: 40%;
    text-align: center;
    margin: 10px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-detail h3 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}

.new-detail h3 a {
    color: #2d3436;
}

.new-detail p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* more-info-btn */

.more-info {
    display: flex;
    justify-content: center;
}

.more-info-btn {
    margin: 20px 0 ;
    padding: 10px 20px;
    color: #60a703;
    border: 2px solid #60a703;
    border-radius: 5px;
    background-color: #fff;
    transition: .5s ease-out;
    font-weight: 600;
}

.more-info-btn:hover {
    background-color: #60a703;
    color: #fff;
}

.right-more-info {
    display: flex;
    justify-content: flex-end;
}

.right-more-info-btn {
    color: #60a703;
    font-size: 17px;
    font-weight: 600;
}

/* cook-content */

.cook-content {
    margin-top: 30px;
}

.cook .container {
    align-items: baseline;
}

.cook-content-header {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    margin-bottom: 10px;
}

.cook-content-header a {
    width: 100%;
    color: #2d3436;
    font-size: 20px;
    transition: .3s ease-in-out;
}

.cook-content-header a:hover {
    color: #60a703;
}

.cook-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cook-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100px;
}

.cook-content-img img, .cook-content-img a  {
    width: 150%;
}

.cook-content-detail {
    margin-left: 15px;
}

.cook-content-detail p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

/* home-video */
.video {
    margin: 10px 0 30px;
}

.home-video {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 10px 0;
}

.home-video a {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;

    margin-left: 10px;
    color: #2d3436;
    font-size: 15px;
}

/* register-new */
.register-new {
    position: absolute;
    top: -130px;
    padding: 0;
}

.register-new .container {
    background-color: #49a010;
    padding: 30px 0;
}

.register-new form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.register-new form h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.register-new form input {
    padding: 15px 30px;
    margin: 10px;
    border: 1px solid transparent;
    border-radius: 50px;
    width: 320px;
}

.register-new form button {
    padding: 15px 40px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    background-color: #c23616;
    color: #fff;
    font-size: 15px;
}

/* footer */
footer {
    margin-top: 100px;
}

@media only screen and (max-width: 769px ) { 
    .about-us .container {
        flex-direction: column-reverse;
        padding: 30px;
    }

    .about-us-banner {
        padding: 0;
    }

    .about-us-info {
        padding: 0px;
    }
}

@media only screen and (max-width: 426px ) { 
    footer {
        margin-top: 200px;
    }

    .register-new {
        top: -250px;
    }

    
}